/* 新闻 */


.newstop{
    position: relative;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.newstop img {
    width: 100%;
    height: 240px;

}
.newstop .title {
    position: absolute;
    height: 32px;
    font-size: 24px;
    color: #fff;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -100px;
}
.wrapmask:after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: rgb(71, 94, 222);
    opacity: 0.4;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.news {
    width: 1200px;

    margin: 0 auto;
}
.mains .news .title {
    margin-top: 50px;
}
.news .right{
    width: 588px;
    height: 450px;
    float: left;
}
.news .right .box{
    width: 588px;
    height: 150px;
    border-bottom: 1px solid rgba(71, 94, 222, .1);
}

.mr11 {
    margin-right: 11px;
}
.ml11 {
    margin-left: 11px;
}
.bt1{
   border-top: 1px solid rgba(71, 94, 222, .1);
}

.news .right li .dsc1{
   
    float: left;
     
}
.news .right li .em1{

    display: block;
    width: 78px;
    height: 50px;
    margin-top: 27px;
    margin-left: 30px;
    line-height: 50px;
    border: 1px solid rgba(34, 34, 34, .1);
    text-align: center;
    color: #666;
    font-size: 16px;
     
}
.news .right li .em2{ 
    
    width: 78px;
    height: 40px;
    margin-left: 30px;
    border: 1px solid rgba(34, 34, 34, .1);
    border-top: 0;
    line-height: 40px;
    display: block;
    text-align: center;
    color: rgb(170, 170, 170);
    font-size: 14px;
     
}
.news .right li .dsc2{

    margin-top: 27px;
    margin-left: 132px;
    margin-right: 36px;
}
.news .right li .dsc2 span{
    height: 21px; 
    color: #222;
    font-size: 16px;
}
.news .right li .dsc2 em{
    display: block;
    height: 15px; 
    border-bottom: 1px dashed rgba(71, 94, 222, .1);
}
.news .right li .dsc2 i{
    display: block;
    height: 40px;
    margin-top: 15px;
    font-size: 12px;
    color: #999
}


.news .right .box:hover{
    background-color: #fff;
    cursor: pointer;
}

.news .right .box:hover span{
    color: #475EDE;
}

.pagechange nav{
    position: absolute;
    left: 50%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: -245px;
}

.pagechange nav li a{
    width: 40px;
    height: 36px;
    margin-left: 10px;
    text-align: center;
}